nav {
    margin-top: 20px;
    background-color: unset;
    box-shadow: none;
    .titles {
        margin-left: 40px;
        font-size: 19px !important;
        font-weight: 500;
    }
    img {
        width: 16vw;
        height: 5vw;
    }
    .navbar {
        margin-top: 1vw;
    }
    .right {
        margin-top: 1vw;
        margin-left: 40px;
        font-size: 19px !important;
        font-weight: 500;
    }
}