body {
    font-family: fira sans;
    font-weight: 400;
    color: #222222;
}

.mainDiv {
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    background-color: #86dbec;
    margin-bottom: 0;
    background: url('../assets/bc.png');
    background-size: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    .bold-text {
        color: #222;
        font: bold;
        font-size: 65px;
        text-align: center;
        letter-spacing: normal;
    }
    .text {
        color: #222;
        font-size: 25px;
    }
}



