body {
    font-family: fira sans;
    font-weight: 400;
    color: #222222;
}

.register-container {
    width: auto;
    // height: 300vh;
    display: flex;
    flex-direction: column;
    background-color: #86dbec;
    margin-bottom: 0;
    background: url('../assets/bc.png');
    background-size: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bold-text {
        height: 160px;
        width: 800px;
        color: #222;
        font: bold;
        font-size: 65px;
        font-weight: 700;
        line-height: 80px;
        text-align: center;
        letter-spacing: normal;
    }
    .text {
        height: 23px;
        width: 455px;
        color: #222;
        font-family: "Fira Sans";
        font-size: 21px;
        letter-spacing: 0.42px;
        line-height: 25px;
        text-align: center;
    }
}



