body {
    font-family: fira sans;
    font-weight: 400;
    color: #222222;
}

.mainDiv {
    width: 100vw;
    // height: 300vw;
    background-color: #86dbec;
    margin-bottom: 0;
    background: url('../assets/bc.png');
    background-size: 100% 100%;
}

.first-text {
    margin-top: 3vw;
    // font-family: fira sans;
    .inspiration {
        margin-top: 10vw;
        font-weight: bold;
    }
    .intro {
        font-family: Bebas Neue;
        font-size: 10vw;
        font-weight: normal;
        color: #3f83e8;
    }
}
