body {
    font-family: fira sans;
    font-weight: 400;
    color: #222222;
}

.mainDiv {
    width: 99vw;
    // height: 300vw;
    background-color: #86dbec;
    margin-bottom: 0;
    background: url('./image/bc.png');
    background-size: 100% 100%;
}

nav {
    margin-top: 20px;
    background-color: unset;
    box-shadow: none;
    a {
        font-size: 1.6vw !important;
        font-weight: bold;
    }
}

.first-text {
    margin-top: 5vw;
    // font-family: fira sans;
    .inspiration {
        margin-top: 10vw;
        font-weight: bold;
    }
    .intro {
        font-family: Bebas Neue;
        font-size: 10vw;
        font-weight: normal;
        color: #3f83e8;
    }
}

.advantage-container {
    margin-top: 32vw;
}

.advantage {
    margin-top: 8vw;
    h3 {
        font-weight: bold;
    }
}

.schools {
    margin-top: 10vw;
}

.teachers {
    margin-top: 10vw;
}

.card {
    margin-top: 2vw;
    padding: 0px !important;
    background-color: #CCEAF0;
    border-radius: 32px;
}

.btn {
    margin-top: 2vw;
    height: 50px;
    background-color: #3F83E8;
    border-radius: 32px;
    h5 {
        margin-top: 13px;
    }
}

.signup {
    height: 40vw;
    margin-top: 21vw;
    margin-bottom: 16vw;
    background-image: url('./image/Nomt.png');
    background-size: 100% 100%;
    h1 {
        margin-top: 14vw;
    }
}