nav {
    margin-top: 20px;
    background-color: unset;
    box-shadow: none;
    a {
        font-size: 1.6vw !important;
        font-weight: 500;
    }
    img {
        width: 16vw;
        height: 5vw;
    }
    .navbar {
        margin-top: 1vw;
    }
    .right {
        margin-top: 1vw;
    }
}